.carousel {
    position: relative;
    width: 100%;
}

.carousel__nav {
    position: absolute;
    margin-top: -14px;
    top: 50%;
    left: 10px;
}

.carousel__next {
    right: 10px;
    left: auto !important;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
}

.slide__text {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 50%;
    color: #fff;
    font-size: 32px;
}
.carousel__pagination {
    position: absolute;
    bottom: 32px;
    left: 0;
    right: 0;
    text-align: center;
}

.carousel__pagination button {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #000;
    opacity: 0.8;
    border-radius: 10px;
    margin: 0 4px;
}
.carousel__pagination button.active {
    background-color: #fff;
}
